<h1><%= @event.title%></h1>

<% if user_signed_in?%>
    <%if current_user.attended_events.include?(@event) %>
        <%= button_to "don't attend anymore", remove_attendance_event_path(@event), method: :post %>
    <%else%>
        <%= button_to "Attend event", add_attendance_event_path(@event), method: :post %>
    <%end%>
<%else%>

<%end%>


<p class="event-desciption">
    <%= @event.description%>
</p>

<p class="event-creator">
    Created by <%= @event.creator.name%>
</p>