<h1><%= @event.title%></h1>

<% if user_signed_in?%>
    <%if attending_event?(current_user, @event)%>
        <%= button_to "Unattend", toggle_attendance_event_path(@event), method: :post %>
    <%else%>
        <%= button_to "Attend", toggle_attendance_event_path(@event), method: :post %>
    <%end%>
<%end%>


<p class="event-desciption">
    <%= @event.description%>
</p>

<p class="event-creator">
    Created by <%= @event.creator.name%>
</p>