<!DOCTYPE html>
<html>
  <head>
    <title>TopPrivateEvents</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag 'turbo' %>
  </head>

  <body>
    <h1>Create your own Private Event</h1>
    <!-- Navigation bar or other common elements go here -->
    <div class="navbar">
      <ul class="navbar-nav">

        <li class="nav-item right">
          <%= link_to "All events", events_path%>
        </li>

        <% if user_signed_in?%>
          <li class="nav-item right">
            <%= link_to "Create new event", new_event_path%>
          </li>

          <li class="nav-item right">
            <%= link_to "my events", user_path(current_user)%>
          </li>
          
          <li class="nav-item right">
            <%= button_to "User sign out", destroy_user_session_path, 
                method: :delete %>
          </li>

          <li class="nav-item right">
            <%= link_to 'Edit Profile', 
                edit_user_registration_path%>
          </li>
        <% else%>
          <li class="nav-item right">
            <%= link_to "User sign up", new_user_registration_path %>
          </li>
  
          <li class="nav-item right">
            <%= link_to "User sign in", new_user_session_path %>
          </li>

        <%end%>

      </ul>
    </div>

    <!-- Dynamic elements go here -->
    <%= yield %>
  </body>
</html>
